@import "~normalize.css/normalize.css";

:root {
  --borderColor: #BBBBBB;
  --borderStyle: solid;
  --borderWidth: 1px;
  --configCheckedColor: #fff;
  --configHoverBgColor: hsla(208, 100%, 43%, 0.1);
  --configLabelColor: #777;
  --editorBorderColor: #BBBBBB;
  --headerBorderRadius: 4px;
  --headerMainBorderColor: #dedede;
  --headerTintColor: #428bca;
  --headerTransition: 0.2s ease-in-out;
  --helpBgColor: #fff;
  --helpCodeBgColor: #EEE;
  --helpHeaderLinkColor: black;
  --helpLoadExampleBgColor: rgba(255, 255, 255, 0.8);
  --linkColor: #0000EE;
  --menuAsideColor: #888;
  --menuCodeBgColor: #EEE;
  --notificationBgColor: #FFF;
  --notificationBorderColor: #428bca;
  --notificationCloseBgColor: #e1e1db;
  --outputBackgroundTabBgColor: #{desaturate(#f9ffff, 100%)};
  --outputCurrentTabBgColor: #f9ffff;
  --pageBgColor: #E1E1DB;
  --pageFont: 'Open Sans', sans-serif;
  --popButtonBgColor: white;
  --popButtonBottomBorderColor: #bdbdbd;
  --popButtonColor: #222;
  --popButtonInsetShadowColor: white;
  --popButtonShadowColor: rgba(0, 0, 0, 0.6);
  --popButtonVerticalBorderColor: #cacaca;
  --rustErrorsErrorColor: #bf1b1b;
  --rustErrorsWarningColor: #f79a06;
  --segmentedButtonActiveBorderBottomColor: #d6d6d6;
  --segmentedButtonActiveBorderTopColor: #bababa;
  --segmentedButtonBuildBgColor: #AA4422;
  --segmentedButtonBuildBorderColor: hsl(15, 66.7%, 32%);
  --segmentedButtonBuildColor: white;
  --segmentedButtonBuildHoverBgColor: #80331a;
  --segmentedButtonColor: #444;
  --segmentedButtonDarkBgColor2: #ededed;
  --segmentedButtonDarkBgColor: #f9f9f9;
  --segmentedButtonHoverColor: #333;
  --segmentedButtonLightBgColor2: #f3f3f3;
  --segmentedButtonLightBgColor: #fff;

  --pageColor: #000000;
}

// Modify normalized styles
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

button,
input,
optgroup,
textarea {
  background-color: inherit;
  color: inherit;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--pageBgColor);
  color: var(--pageColor);
  padding: 0 1em;
  font-family: var(--pageFont);
}

.language-rust_errors {
  .warning {
    color: var(--rustErrorsWarningColor);
  }

  .error {
    color: var(--rustErrorsErrorColor)
  }
}

.help-example-code {
  @import "~prismjs/themes/prism-okaidia";
}
