@import "~normalize.css/normalize.css";

$background: #E1E1DB;
$rust: #AA4422;
$selected-radio: desaturate(lighten($rust, 30%), 20%);
$unselected-radio: lighten($selected-radio, 20%);
$border-color: #BBBBBB;
$border: 1px solid $border-color;

$primary-font: 'Open Sans', sans-serif;

$header-tint: #428bca;
$header-main-border: #dedede;
$header-accent-border: #bdbdbd;
$header-border-radius: 4px;
$header-transition: 0.2s ease-in-out;

:root {
  --borderColor: #BBBBBB;
  --borderStyle: solid;
  --borderWidth: 1px;
  --configCheckedColor: #fff;
  --configHoverBgColor: hsla(208, 100%, 43%, 0.1);
  --configLabelColor: #777;
  --editorBorderColor: #{$border-color};
  --headerBorderRadius: #{$header-border-radius};
  --headerMainBorderColor: #{$header-main-border};
  --headerTintColor: #{$header-tint};
  --headerTransition: #{$header-transition};
  --helpBgColor: #fff;
  --helpCodeBgColor: #EEE;
  --helpHeaderLinkColor: black;
  --helpLoadExampleBgColor: rgba(255, 255, 255, 0.8);
  --linkColor: #0000EE;
  --menuAsideColor: #888;
  --menuCodeBgColor: #EEE;
  --notificationBgColor: #FFF;
  --notificationBorderColor: #428bca;
  --notificationCloseBgColor: #e1e1db;
  --outputBackgroundTabBgColor: #{desaturate(#f9ffff, 100%)};
  --outputCurrentTabBgColor: #f9ffff;
  --popButtonBgColor: white;
  --popButtonBottomBorderColor: #{$header-accent-border};
  --popButtonColor: #222;
  --popButtonVerticalBorderColor: #cacaca;
  --segmentedButtonActiveBorderBottomColor: #d6d6d6;
  --segmentedButtonActiveBorderTopColor: #bababa;
  --segmentedButtonBorderColor: hsl(15, 66.7%, 32%);
  --segmentedButtonBuildBgColor: #{$rust};
  --segmentedButtonBuildColor: white;
  --segmentedButtonBuildHoverBgColor: #80331a;
  --segmentedButtonColor: #444;
  --segmentedButtonDarkBgColor2: #ededed;
  --segmentedButtonDarkBgColor: #f9f9f9;
  --segmentedButtonHoverColor: #333;
  --segmentedButtonLightBgColor2: #f3f3f3;
  --segmentedButtonLightBgColor: #fff;
}

// Modify normalized styles
button,
input,
optgroup,
select,
textarea {
    font-family: $primary-font;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: $background;
    padding: 0 1em;
    font-family: $primary-font;
}

.configuration {
    position: relative;
    width: 100%;
    height: 100%;

    &-item {
        display: flex;
        margin-bottom: 0.5em;
    }

    &-label {
        flex: 1 1 100%;
    }

    &-value {
        flex: 1 1 100%;
    }

    &-actions {
        right: 0;
        bottom: 0;
        position: absolute;
    }
}

.drop {
    &__toggle {
        font-size: 50%;
        height: 100%;
    }

    &__menu {
        display: none;

        position: absolute;
        top: 90%;
        left: 0;
        z-index: 10;

        margin: 0;
        padding: 0;

        border: $border;
        box-shadow: 0.5px 0.5px 10px 1px rgba(0, 0, 0, 0.2);

        &--open {
            display: inherit;
        }
    }

    &__menu-item {
        list-style: none;
        white-space: nowrap;
        border-bottom: $border;
        &:last-child {
            border-bottom: none;
        }
    }

    &__button {
        width: 100%;
        background: white;
        border: none;
        cursor: pointer;
        text-align: left;
        &:hover {
            background-color: darken(white, 10%);
        }
    }
}

.language-rust_errors {
    .warning {
        color: #f79a06;
    }
    .error {
        color: #bf1b1b;
    }
}

.help-example-code {
  @import "~prismjs/themes/prism-okaidia";
}

.header-button {
  height: 3em;
  padding: 0 1.25em;
  display: flex;
  align-items: center;

  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;

  white-space: nowrap;

  &--expandable {
    padding-right: 1em;
  }

  &--has-left-icon {
    padding-left: 1em;
  }

  &--has-right-icon {
    padding-right: 1em;
  }

  &--icon-only {
    padding: 0 0.75em;
  }

  &--is-build {
    font-weight: 700;
  }

  &__left-icon {
    margin-right: 0.5em;
  }

  &--icon-only &__left-icon {
    margin-right: 0;
  }

  &__drop {
    margin-left: 0.75em;
  }

  &__right-icon {
    margin-left: 0.75em;
  }
}
