.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 1em;
}

.split {
  display: flex;
  height: 100vh;
}

.splitHorizontal {
  composes: split;
  flex-direction: column;
}

.splitVertical {
  composes: split;
  flex-direction: row;
}

.splitVertical > * {
  /*
    This disables the extra margin-top for the spacing between editor
    and output in the horizontal split mode.

    FIXME: remove this when the output-rules are 'aware' of the
    orientation.
  */

  margin-top: -0.2em;

  /* for the border of the editor */
  margin-bottom: 4px;

  /* space between the split */
  margin-left: 0.5em;
}

.splitVertical > *:first-child {
  /* the first child, i.e. the editor has the border already */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.editor {
  position: relative;
  flex: 1 1 auto;
  border: 4px solid var(--editorBorderColor);
  border-radius: 4px;
}

.outputFocused {
  position: relative;
  flex: 1 1 auto;
}
